:root {
  --sunburst: #e7717D;
  --grey: #c2cad0;
  --tan: #c2b9b0;
  --brown: #7e685a;
  --green: #afd275;
  --orange: #fab691;
  --white: #f4f5f7;
}

nav {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: var(--sunburst);
  border-bottom:2px solid var(--green);
}

nav ul {
  display: flex;
  list-style: none;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

nav ul > li {
  padding: 10px;
}

nav ul li > a {
  text-decoration: none;
  color: var(--brown);
  font-size: 18px;
  padding: 10px 35px;
}

.fas.fa-bars {
  color: var(--green);
}

.dropdown{
  display: block;
  float: right;
  padding-top: 5px;
  padding-right: 10%;
  margin-right: 15px;
  font-size: 28px;
}

.dropdown-content {
  display: none;
  position: absolute;
  height: 260px;
  width: 140px;
  right: 0px;
  padding: 12px 16px;
  margin-right: 10%;
  background-color: var(--orange);
  box-shadow: 0px 8px 16px 0px var(--sunburst);
  border-radius: 8px;
  z-index: 1;
  overflow: auto;
}

.dropdown:hover .dropdown-content {
  display: block;
  overflow: hidden;
}

.dropdown-content a:hover {
  color: var(--sunburst);
  font-size: 1.1em;
  font-weight: bold;
}
