.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact form {
  width: 75%;
  max-width: 535px;
}

.contact form .item-container {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  justify-content: flex-start;
  width: 100%;
}

.contact form .label-container {
  width: 82px;
  text-align: right;
}

.contact form label {
  color: var(--brown);
  margin-right: 10px;
}

.contact input, .contact textarea {
  box-sizing: border-box;
  border: 1px solid var(--tan);
  border-radius: 4px;
  outline: none;
  background-color: var(--grey);
  color: var(--sunburst);
}

.contact textarea {
  padding: 5px;
  width: 100%;
  resize: none;
}

.contact input[type=text], .contact input[type=email] {
  padding: 5px;
  width: calc(100% - 82px);
}

.contact input[type="submit"] {
  width: 100px;
  float: right;
}

.contact input[type=submit] {
  border: 1px solid var(--sunburst);
  background-color: var(--green);
  color: var(--sunburst);
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  margin-top: -5px;
}

.contact input[type=text]:focus,
.contact input[type=email]:focus,
.contact textarea:focus {
  border: 1px solid var(--green);
}

.contact input[type=submit]:hover {
  border: 2px solid var(--sunburst);
}
