header{display:flex;
    width:auto;
margin-top:2em;
justify-content:center;}

h1{font-family:'Righteous';
    text-transform: uppercase;}

h2, h3, p{font-family:'Open Sans', sans-serif;}

#opener{display:flex;
    flex-direction:column;
width:100%;
justify-items:center;}

p, h3{text-align:center;}

#last{margin-bottom:6em;}
