.news main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.feature {
  background-color: white;
  padding: 0 1em;
  margin-right: 1em;
  margin-left: 1em;
  margin-bottom: 2em;
  min-width: 175px;
  max-width: 300px;
}

.feature a {
  text-decoration: none;
  color: #fab691;
}

.feature a:hover {
  color: #afd275;
}

.news h2, .news h3, .news p {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.news article p, .news h3 {
  color: #c2cad0;
}

.news p {
  padding-bottom: 1em;
}
