.products body {
  width: auto;
}

.products header {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 0 auto;
}

.plans {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: auto;
  margin-bottom: 2em;
}

.descrip {
  background-color: white;
  padding: 0 1em;
  margin-right: 1em;
  margin-left: 1em;
  margin-bottom: 2em;
  min-width: 175px;
  max-width: 300px;
}

.products p {
  text-align: center;
  padding-right: .5em;
  padding-left: .5em;
}

.products img {
  width: auto;
  padding: 2em;
}

.products h1 {
  font-family: 'Righteous', cursive;
  color: #AFD275;
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
}

.products h2, .fitem {
  font-family: 'Righteous', cursive;
  color: #E7717D;
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
}

.products p {
  color: #C2B9B0;
  font-family: 'Open Sans', sans-serif;
}

#drop {
  background-color: #AFD275;
  color: white;
  border: 2px solid #C2B9B0;
  border-radius: 10px;
  padding: 1em 2em;
  margin-bottom: 2em;
}

.products textarea {
  width: 60%;
  height: 40%;
}

.products button {
  background-color: #AFD275;
  color: white;
  padding: 1em;
  margin-bottom: 6em;
  border: 2px solid #c2cad0;
  border-radius: 10px;
}

.products button:hover, #drop:hover {
  background-color: #fab691;
}
