@import url(components/nav.css);
@import url(components/footer.css);

:root {
  --sunburst: #E7717D;
  --grey: #c2cad0;
  --tan: #c2b9b0;
  --brown: #7e685a;
  --green: #afd275;
  --orange: #fab691;
  --white: #f4f5f7;
}

html {
  background-color: var(--white);
}

.content {
  padding-top: 4em;
  padding-bottom: 1em;
}

h1 {
  margin-top: 30px;
  text-align: center;
  color: var(--green);
  font-family: 'Righteous', cursive;
  text-transform: uppercase;
}

main{display:flex; 
  flex:wrap; 
  justify-content:space-between;

}

section{width:40%;
  min-width: 300px;
  text-align:center;
  align-content:center;
  margin-bottom:7em;
}

section img, section #text{max-width:300px;
max-height:450px;

}

#text{align-self:center;
  font-family: 'Open Sans', cursive;
color: var(--orange);}

#first{text-align:left;
padding-left:1em;}

#second{text-align:right;
padding-right:2em;}
